<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="GoogleMatrixURL" value="https://maps.googleapis.com/maps/api/distancematrix/json?origins={0}&amp;destinations={1}&amp;mode={2}&amp;key={3}"/>
    <add key="GoogleMatrixKey" value=""/>
  </appSettings>
</configuration>